<app-grid-container>
</app-grid-container>
<div style="position: fixed; top: 0; right: 0; padding-right: 20px;">
  <div *ngFor="let grid of grids$ | async" (click)="setActiveGrid(grid)">
    Grid {{grid?.id}}
  </div>
</div>
