<div *ngIf="mouseOver"
     style="position: absolute; z-index: 1000; pointer-events: none; border-top: 1px black dashed;border-bottom: 1px black dashed;"
     [style.left.px]="horizontalGridData.left"
     [style.top.px]="horizontalGridData.top"
     [style.width.px]="horizontalGridData.width"
     [style.height.px]="horizontalGridData.height"></div>

<div *ngIf="mouseOver"
     style="position: absolute; z-index: 1000; opacity: 0.5; pointer-events: none; border-left: 1px black dashed;border-right: 1px black dashed;"
     [style.left.px]="verticalGridData.left"
     [style.top.px]="verticalGridData.top"
     [style.width.px]="verticalGridData.width"
     [style.height.px]="verticalGridData.height"></div>

<app-area *ngFor="let area of grid.areas"
     style="position: absolute; background-color: red; opacity: 0.5; pointer-events: none;"
     [style.width.px]="area.width * getCellWidth()"
     [style.height.px]="area.height * getCellHeight()"
     [style.top.px]="area.top * getCellHeight()"
     [style.left.px]="area.left * getCellWidth()">
</app-area>
